:root {
    --color-primary: #212121;
    --color-logo-studio: #000000;
    --color-title-secondary:#FFFFFF;
    --color-link-text: #757575;
    --color-accent: #2196F3;
    --color-background: #188CE8;
    --color-order-shadow:rgba(0, 0, 0, 0.15);
    --color-conact-footer:rgba(255, 255, 255, 0.6);
    --color-order-section:#2F303A;
    --color-comand-section:#F5F4FA;
 }
/* * {outline: 1px solid red;} */
h1,
h2,
h3,
ul,
li,
p {padding: 0;
    margin: 0;
}
body { 
    font-family: 'Roboto','Arial','Helvetica',sans-serif;
    font-style: normal;
    color: var(--color-primary);
}
.container {
    margin:0 auto ;
    padding: 0 15px;
    width: 1200px;    
}
ul,li {
    list-style: none;
}
.link {
    text-decoration: none;
  }
  .nav-flex-header {
    align-items: center;
    display:flex;
    justify-content: space-between;
  }
  .nav-flex {
    width: 281px;
    display:flex;
    justify-content: space-between;
  }
  .nav-flex-tel {
    width: 307px;
    display:flex;
    justify-content: space-between;
  }
.header-box {
    border-bottom: 1px solid #ECECEC;
}
.logo {
    margin-right: 93px; 
    padding-top: 24px;
    padding-bottom: 25px;
    display: block;
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;   
}
.web {
    color: var(--color-accent);}
.studio {
    color: var(--color-logo-studio);
}
.link-nav {
    display:flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}
.link-nav:hover ,.link-nav:focus {
    color: var(--color-accent);
}
.link-current {
    color: var(--color-accent);
}
.nav-contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-link-text);
}
.nav-contact:hover,.nav-contact:focus {
    color: var(--color-accent);
}
.nav {
    background-color:var(--color-title-secondary);
}
.order {
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-color: var(--color-order-section);
}
.hero-title {
  
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 30px;
    display:block;
    width: 696px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36 ;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-title-secondary);
}
.order-button {
    margin-left: auto;
    margin-right: auto;
    padding:10px auto;
    display:block;
    width: 216px;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
    line-height: 1.88;
    /* identical to box height, or 188% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-title-secondary);
    background-color:var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.order-button:hover, .order-button:focus {
    background: var(--color-background);
 }
 .advantage-box {
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .advantage-flex {
     display:flex ;
     justify-content: space-between;
     width: 1170px;
  }
.title-advantage {
    padding-bottom: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantage {
    height: 72px;
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--color-link-text);
}
.specialization {
    /* padding-top: 94px; */
    padding-bottom: 94px;
}
.specialization-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}
.comand-flex {
    display: flex;
    justify-content: space-between;
}
.title-comand { 
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.specialization-foto {
    display:flex;
    justify-content: space-between;
}
.comand-name {
    padding-top: 30px;
    padding-bottom: 30px;
}
.box-comand {
    width: 270px;
    background-color: var(--color-title-secondary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.comand {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--color-comand-section);
}
.name {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1.17;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-align: center;
}
.profession {
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--color-link-text);
    text-align: center;
}
.link-footer {
    margin-bottom: 9px;
}
.adress {
    display: block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--color-title-secondary);
}
.contact {
    display: block;
    font-style: normal;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--color-conact-footer);
}
.contact:hover,.contact:focus {
    color: var(--color-accent);
}
.projects-box {
    padding-top: 94px;
    padding-bottom: 94px;

}
.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 9px;
}

.button { 
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.63;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background-color: #F5F4FA;
    border-color:#F5F4FA;
}

.button:hover,.button:focus {
    color: var(--color-title-secondary);
    background-color: var(--color-accent);
}
.card-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.card {
    box-sizing: border-box;
    width: 370px;
    background: var(--color-title-secondary);
    border: 1px solid #EEEEEE;

}
.filter {
    padding: 20px 24px;
}
.projects {
    padding-bottom: 4px;
    font-weight: 700;
    line-height: 2;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
}
.project-type {
    /* width: 322px; */
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: var(--color-link-text);
}
.footer { 
    display: block;
    padding-top: 60px ;
    padding-bottom: 60px;
    background-color: var(--color-order-section);
}
.logo-footer {
    margin-bottom: 20px ;
    display: block;
    height: 31px;
    width: 145px;
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.logo-studio-footer { 
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color:var(--color-title-secondary);
}




